* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 576px) {
  .bars {
    display: flex;
    flex-direction: column;
  }
}
